.container {
    margin-top: 50px;
    max-width: 950px;
    margin-inline: auto;
    padding: 50px;
}

.container h1 {
    font-size: 2.5rem;
}

.ingredientes {
    margin-top: 60px;
    padding: 50px 70px;
}

.ingredientes:hover {
    cursor: url('../img/cursor_ingredientes.png') 4 12, pointer;
    border-radius: 20px;
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}

.ingredientes h2 {
    font-size: 1.8rem;
}

.ingredientes ul {
    padding: 30px;
}

.ingredientes li {
    margin: 10px;
    font-weight: 600;
}

.compra-ingredientes {
    display: inline-block;
    padding: 20px 20px;
    background-color: #ff6b28;
    border-radius: 15px;
    color: #fff;
}

.compra-ingredientes:hover {
    background-color: #fc854e;
}

.modo-preparo {
    margin-top: 90px;
    padding: 50px 70px;
}

.modo-preparo:hover {
    cursor: url('../img/cursor_preparo.png') 4 12, pointer;
    border-radius: 20px;
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}

.modo-preparo h2 {
    font-size: 1.8rem;
}

.modo-preparo ol {
    padding: 30px;
}

.modo-preparo li {
    margin: 10px;
    font-weight: 600;
}

.instrucoes-adicionais {
    margin-top: 90px;
    padding: 50px 70px;
}

.instrucoes-adicionais h2 {
    margin-bottom: 30px;
}

.instrucoes-adicionais p {
    font-weight: 600;
    line-height: 1.3;
}

.instrucoes-adicionais:hover {
    cursor: url('../img/cursor_intrucoes.png') 4 12, pointer;
    border-radius: 20px;
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}

/* Media Query */

@media (max-width: 590px) {

    .logo img {
        width: 210px;
        height: 35px;
    }

    .container {
        max-width: 1000px;
    }

    .container h1 {
        font-size: 2rem;
    }

    .ingredientes {
        margin-top: 30px;
        padding: 30px 50px;
    }

    .ingredientes h2 {
        font-size: 1.3rem;
    }

    .ingredientes ul {
        padding: 10px;
    }

    .compra-ingredientes {
        padding: 10px;
        font-size: 1.2ch;
    }

    .modo-preparo {
        margin-top: 30px;
        padding: 30px 50px;
    }

    .modo-preparo h2 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }

    .modo-preparo ol {
        padding: 10px;
    }

    .instrucoes-adicionais {
        margin-top: 30px;
        padding: 30px 50px;
    }

    .instrucoes-adicionais h2 {
        font-size: 1.3rem;
    }

    .rodape {
        font-size: 0.8rem;
    }
}

@media (max-width: 430px) {
    .ingredientes {
        box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
        border-radius: 20px;
    }

    .modo-preparo {
        box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
        border-radius: 20px;
    }

    .instrucoes-adicionais {
        box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
        border-radius: 20px;
    }
}

@media (max-width: 370px) {
    .container h1 {
        font-size: 1.6rem;
    }

    .ingredientes {
        margin-top: 60px;
        padding: 30px 20px;
    }

    .ingredientes ul {
        padding: 0px 10px;
    }

    .ingredientes li {
        font-size: 1.3ch;
    }

    .compra-ingredientes {
        font-size: 1ch;
        padding: 10px;
        margin-top: 10px;
    }

    .modo-preparo {
        margin-top: 30px;
        padding: 30px 18px;
    }

    .modo-preparo h2 {
        margin-bottom: 20px;
    }

    .modo-preparo ol {
        padding: 0px 5px;
    }

    .modo-preparo li {
        font-size: 1.2ch;
    }

    .instrucoes-adicionais {
        margin-top: 30px;
        padding: 30px 18px;
    }

    .instrucoes-adicionais h2 {
        margin-bottom: 20px;
    }

    .instrucoes-adicionais p {
        font-size: 1.2ch;
    }

}